//variables


//config
@import "config/*.scss";


body, html {
    height: 100%;
  }
  body {
    background-image: url('https://ilyakhasanov.ru/images/background/64.png');
  }
  
  .wrapper {
    display: block;
    margin: 40px auto;
    width: 250px;
    height: 350px;
    background-color: #000;
    position: relative;
    border: 2px solid rgb(73, 97, 61);
    overflow: hidden;
  }
  
  .player {
    transition: 0.5s;
    width: 40px;
    height: 40px;
    background: url('http://game-icons.net/icons/lorc/originals/svg/squid-head.svg');
    position: absolute;
    bottom: 0;
    transform: translate(-50%, 0);
    left: 50%;
    right: 50%;
    
  }

  .ball {
      width: 5px;
      height: 5px;
      background-color: #fff;
      border-radius: 50%;
      top: -20px;
      left: 100px;
      position: absolute;
      display: inline-block;
  }
